@import "tailwindcss";


body{
background: linear-gradient(
  to right,
  rgba(17, 17, 17, 1),
  rgba(22, 22, 22, 1),
  rgba(17, 17, 17, 1)
);
}

@keyframes scan {
  from { transform: translateY(-100%); }
  to { transform: translateY(200%); }
}

.animate-scan {
  animation: scan 2s linear infinite;
}